<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar color="primary"> Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item *ngFor="let link of menuLinks" [routerLink]='link.url'> {{ link.title }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>Task Manager </span>
      <a routerLink="" class="homeicon">
        <!-- <mat-icon aria-hidden="false" aria-label="Home">home</mat-icon> -->
      </a>
      <span class="middle_menu">
        <div *ngIf='isLoggedIn'>
          <button mat-button [matMenuTriggerFor]="appMenu">
            <span class='orgmenu'> {{sorgsName}}
              <mat-icon>arrow_drop_down</mat-icon>
            </span>
          </button>
          <mat-menu #appMenu="matMenu">
            <button mat-menu-item *ngFor='let orgs of orgsLinks' (click)='selectedOrgs(orgs.id)'>{{orgs.title}}</button>
          </mat-menu>
        </div>
      </span>
      <span class='usertitle'> {{welcomestr}} </span>
      <button *ngIf='!isLoggedIn' mat-button routerLink='/login'>Login</button>
      <button *ngIf='isLoggedIn' mat-button routerLink='/logout'>Logout</button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
