<form [formGroup]="regForm" novalidate (ngSubmit)="onSubmit()">
  <mat-card class="reg-card">
    <mat-card-header>
      <mat-card-title>Registration</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Email" formControlName="email" type='email' required>
            <mat-error *ngIf="regForm.controls['email'].hasError('required')">
              Email is <strong>required</strong>
            </mat-error>
            <mat-error *ngIf="regForm.controls['email'].hasError('email')">
              Enter valid email
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password" formControlName="password" required>
            <button mat-icon-button matSuffix type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
              <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
            <mat-error *ngIf="regForm.controls['password'].hasError('required')">
              Password is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Full Name" formControlName="fullName" required>
            <mat-error *ngIf="regForm.controls['fullName'].hasError('required')">
              Full name is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Phone" formControlName="phone" required>
            <mat-error *ngIf="regForm.controls['phone'].hasError('required')">
              Phone is <strong>required</strong> and should be 10 to 12 chars
            </mat-error>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="warn" type="reset">Reset</button>
      <button mat-raised-button color="primary" type="submit">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
